<ng-template [ngIf]="data != undefined" [ngIfElse]="contentNotProvided">
  <section [id]="(data.componentName | nullSafetyCheck)">
    <!-- container is element class and blockclass and modifierClass acc to bem standards -->
    <!-- return hero-default__container--secondary-->
    <!-- <p>{{'container' | addBlockClass: blockClass : 'secondary'}}</p> -->
    <ng-container [ngSwitch]="(data.uiConfig.type | nullSafetyCheck | lowercase)">
      <ng-container *ngSwitchCase="'primary'">
          <p>This is primary config</p>
          <p>{{data.eyebrow.value}}</p>
      </ng-container>

      <ng-container *ngSwitchCase="'secondary'">
          <p>This is Secondary config</p>
      </ng-container>

      <ng-container *ngSwitchCase="'teritary'">
          <p>This is tertitary config</p>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <p>This is ngSwitchDefault config</p>
      </ng-container>
    </ng-container>
  </section>
</ng-template>
  
<!-- if data object is empty then it will redirect to this template. Just for null safety -->
<ng-template #contentNotProvided>
  <p>{{blockClass}} component is used but no data found</p>
</ng-template>
  